<!-- <div class="container"> -->
    <div class="topheader col-md-12">
        <div id="header">
            <ul class="nav nav-pills">
              <li role="presentation">
                  <a  class="item" [routerLink]="['/instructor/component']">
                    Instructors
                  </a>
              </li>
              <li role="presentation">
                <a  class="item" [routerLink]="['/student/component']">
                  Students
                </a>
              </li>
              <li role="presentation">
                <a class="item" [routerLink]="['/course/component']">
                  Courses</a>
              </li>
            </ul>
          </div>   
    </div>

  <!-- </div> -->