<div class="row menu">
        <app-course-menu-item></app-course-menu-item>
</div>

<div class="col-md-10 mydiv">
    <table class="table table-striped ">

        <tr>
            <th scope="col" width="50">#</th>
            <th scope="col" width="100">Name</th>
            <th scope="col" width="100">Description</th>
            <th scope="col" width="100">No of hours</th>
            <th scope="col" width="100"> </th>
        </tr>
        <tr *ngFor="let course of courses">
            <td width="50">{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.hours}} hours</td>
            <td class="btns">
                <button class="btn1" (click)="delete(course.id)">
                    <i class="fas fa-trash-alt"></i>
                </button>

                <a [routerLink]="['/course/edit',course.id]">
                    <button class="btn2">
                        <i class="fas fa-edit"> </i>
                    </button>
                </a>

            </td>
        </tr>
    </table>
</div>