<div class="row menu">
  <app-instructor-menu-item></app-instructor-menu-item>
</div>

<div class="row div1">
  <div class="col-md-6">

    <form #f="ngForm" (ngSubmit)="update(f)" ngNativeValidate>
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="name" id="name" placeholder="{{instructor.name}}">
      </div>
      <div class="form-group">
        <label for="phone">phone</label>
        <input type="text" class="form-control" name="phone" [(ngModel)]="phone" id="phone" placeholder="{{instructor.phone}}">
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" placeholder="{{instructor.email}}">
      </div>
      <div class="form-group">
        <label for="department">dapartment</label>
        <input type="text" name="text" placeholder="{{instructor.Department}}" class="form-control" [(ngModel)]="department" id="date">
      </div>
      <div class="form-group">
        <label for="courses">courses</label>
        <input type="text" name="text" placeholder="{{instructor.Courses}}" class="form-control" [(ngModel)]="courses" id="date">
      </div>

      <div class="form-group">
        <label for="students">students</label>
        <input type="text" name="text" placeholder="{{instructor.students}}" class="form-control" [(ngModel)]="courses" id="date">
      </div>

      <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </form>

    <!-- <form [formGroup]="editForm" (ngSubmit)="update()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input name="name" formControlName="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your name" value="{{i.name}}" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Phone</label>
        <input name="phone" formControlName="phone" type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter your phone" value="{{i.phone}}">
      </div>
 
      <div class="form-group">
        <label for="inputEmail" class="control-label">Email address</label>
        <input name="email" formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{i.email}}">
    <div class="help-block with-errors"></div>
        
      </div>

      <div class="form-group">
        <label for="Department">Department</label>
        <select name="department" formControlName="department" class="form-control" id="Department" value="{{i.Department}}">
          <option>IT</option>
          <option>Finance</option>
          <option>Commerce</option>
          <option>HR</option>
          <option>Bussines Intillegnce</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Courses">Courses</label>
        <select  name="courses" formControlName="courses" multiple class="form-control" id="Courses" value="{{i.Courses}}">
          <option>OOP</option>
          <option>Data Base</option>
          <option>Photoshop</option>
          <option>UI</option>
        </select>
      </div>
  
      <div class="btns">
        <button type="button" class="btn btn-tertiary mr-xs mb-sm ">Cancel</button>
        <button type="submit" class="btn btn-tertiary mr-xs mb-sm">Edit</button>
      </div>

    </form> -->
  </div>
</div>
<!-- </ng-template> -->