
form{
    margin-bottom: 80px;
}
.div1{
    /* margin-left: 50px; */
    padding-left: 2%;
    margin-top: 2%;
}
.btns{
    float: right;
   
}
.btn{
    margin:5px; 
}
.menu{
    margin-left: 20px;
}
.mySelect{
    width: 100%;
}

