<div class="details row col-md-offset-1">
  <div class="col-md-3">
    <img class="card-img-top img-responsive img-thumbnail" src="../../../assets/s2.png" alt="Card image cap" >  
  </div>
  <div class="col-md-7 info">
    <h5 class="card-title">{{student.name}}</h5>
    <hr>
    <div class="row">
      <div class="col-md-4 title">Birth Date</div>
      <div class="col-md-7">{{student.dateOfBirth}}</div>
    </div>
    <div class="row">
      <div class="col-md-4 title">Email</div>
      <div class="col-md-7">{{student.email}}</div>
    </div>
    <div class="row">
      <div class="col-md-4 title">Phone</div>
      <div class="col-md-7">{{student.phone}}</div>
    </div>
    <div class="row">
      <div class="col-md-4 title">Courses</div>
      <div class="col-md-7">{{student.courses}}</div>
    </div>
    <div class="row">
      <div class="col-md-4 title">Instructors</div>
      <div class="col-md-7">{{student.instructors}}</div>
    </div>
    
  </div>
  
  </div>