<div class="row">
    <app-student-menu-component></app-student-menu-component>
</div>
    <div class="row div1">
        <div class="col-md-6">
          <form [formGroup]="editForm" (ngSubmit)="update()">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input name="name" formControlName="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your name" value="{{s.name}}" >
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Phone</label>
              <input name="phone" formControlName="phone" type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter your phone" value="{{s.phone}}">
            </div>
       
            <div class="form-group">
              <label for="inputEmail" class="control-label">Email address</label>
              <input name="email" formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{s.email}}">
          <div class="help-block with-errors"></div>
              
            </div>
      
            <div class="form-group">
                <label for="inputEmail" class="control-label">date of birth</label>
                <input name="birthdate" formControlName="birthdate" type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your birthdate" value="s.birthdate">
            <div class="help-block with-errors"></div>
                
              </div>
            
            <div class="btns">
             
              <button type="button" class="btn btn-tertiary mr-xs mb-sm ">Cancel</button>
              <button type="submit" class="btn btn-tertiary mr-xs mb-sm">Edit</button>
            </div>
      
          </form>
        </div>
      </div>
     
      