#header{
    margin-top:20px;
}
.nav-pills{
    margin-left: 20px;
}
.topheader , .footer{
    background-color: black;
    height: 80px;
}
 .task{
font-family: Courier New;
font-size: 50px;
margin-left: 50px;
/* margin-top: 20px; */
color: white;
font-weight: 200;
}