.mydiv{
    margin-top: 50px;
    margin-left: 50px;
}
/* .menu{
    margin-left: 20px;
} */
.btn2{
    margin-left: 5px;
    width: 28px;
    height:28px;
}
.btn1{
    color: #c91306;
    width: 28px;
    height:28px;
}