<div class="row menu">
        <app-instructor-menu-item></app-instructor-menu-item>
</div>


<div class="col-md-10 mydiv">
    <table class="table table-striped ">

        <tr>
            <th scope="col" width="50">#</th>
            <th scope="col" width="150">Name</th>
            <th scope="col" width="150">Phone</th>
            <th scope="col" width="150">Email</th>
            <th scope="col" width="150">Department</th>
            <th scope="col" width="300">Courses</th>
            <th scope="col" width="100"> </th>
        </tr>
        <tr *ngFor="let i of instructors">
            <td width="50">{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
            <td>{{i.Department}}</td>
            <td>
                <p>{{i.Courses}}</p>
            </td>
            <td class="btns">
                <button class="btn1" (click)="delete(i.id)">
                    <i class="fas fa-trash-alt"></i>
                </button>

                <a [routerLink]="['/instructor/edit',i.id]">
                    <button class="btn2">
                        <i class="fas fa-edit"> </i>
                    </button>
                </a>

            </td>
        </tr>
    </table>
</div>