<div class="details row col-md-offset-1">
<div class="col-md-3">
  <img class="card-img-top img-responsive img-thumbnail" src="{{instructor.image}}" alt="Card image cap" >

</div>
<div class="col-md-7 info">
  <h5 class="card-title">{{instructor.name}}</h5>
  <hr>
  <div class="row">
    <div class="col-md-4 title">Department</div>
    <div class="col-md-7">{{instructor.Department}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 title">Email</div>
    <div class="col-md-7">{{instructor.email}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 title">Phone</div>
    <div class="col-md-7">{{instructor.phone}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 title">Courses</div>
    <div class="col-md-7">{{instructor.Courses}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 title">Students</div>
    <div class="col-md-7">{{instructor.students}}</div>
  </div>
  
</div>

</div>